<div class="breadcrumbs">
  <ul>
    <li>
      <%= link_to 'Список статей', points_path %>
    </li>
    <li>
      <span>Редактирование статьи</span>
    </li>
  </ul>
</div>

<h1>Редактирование статьи</h1>
<%= render 'form' %>
