<div class="breadcrumbs">
  <ul>
    <li>
      <span>Список статей</span>
    </li>
  </ul>
</div>

<%= link_to "добавить статью", new_point_path, :class => 'to_right' %>
<h1>Список статей</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Баллы</th>
      <th>Дополнительно</th>
      <th>Инициатор</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render collection %>
  </tbody>
</table>
