<div class="breadcrumbs">
  <ul>
    <li>
      <%= link_to 'Список статей', points_path %>
    </li>
    <li>
      <span>Новая статья</span>
    </li>
  </ul>
</div>

<h1>Новая статья</h1>
<%= render 'form' %>
