<div class="breadcrumbs">
  <ul>
    <li>
      <%= link_to 'Управление ролями', permissions_path %>
    </li>
    <li>
      <span>Новая роль</span>
    </li>
  </ul>
</div>

<h1>Новая роль</h1>
<%= render 'form' %>

