app:
  secret:     SECRET

contingent:
  wsdl:       url
  auth:
    login:    user
    password: pass

errors:
  key:        SECRET
  host:       errors.openteam.ru

sso:
  key:        KEY
  secret:     SECRET
  url:        URL
