defaults: &defaults
  contingent:
    wsdl:       url
    auth:
      login:    user
      password: pass

  app:
    secret:     SECRET

  errors:
    key:        SECRET
    host:       errors.openteam.ru

development:
  <<: *defaults

production:
  <<: *defaults
