<div class='breadcrumbs'>
  <ul>
    <li>
      <span>Список общежитий</span>
    </li>
  </ul>
</div>

<div class="info">
  <span class="label">Всего общежитий:</span>
  <span class="value"><%= Hostel.count %> общ.</span>
</div>
<div class="info">
  <span class="label">Всего комнат:</span>
  <span class="value"><%= Room.count %> ком.</span>
</div>
<div class="info">
  <span class="label">Всего жильцов:</span>
  <span class="value"><%= Roomer.active.count %> чел.</span>
</div>

<h1>Список общежитий</h1>

<ul class='list'>
  <% if collection.any? %>
    <%= render collection %>
  <% else %>
    <li class="empty">Нет доступных общежитий</li>
  <% end %>
</ul>
